.border-bottom {
    border: none;
    border-bottom: 2px solid gray;
  }
  .border-bottom-error {
    border: none;
    border-bottom: 2px solid red;
  }
  .border-bottom-focus:focus {
    border-bottom: 2px solid blue;
  }
  