h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    transition: background-color 0.3s;
  }
  
  li:hover {
    border-color: blue;
  }